<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form handling</title>
    <style>
        body{
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <h1>form handling</h1>
    <form action="/form-submit" method="POST">
        name <input type="text" name="name" placeholder="enter your name"><br><br>
        email <input type="email" name="email" placeholder="enter your email"><br><br>
        pwd  <input type="password" name="password" 
         placeholder="enter your password"><br><br>
        <input type="submit" name="submit" >

    </form>
</body>
</html>